html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
  --contentwidth: 40vw;
  /* var = 40% of viewport width. */
}

.sidepanel {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1001;
  /*Places side over map*/
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
}

.sidepanel a {
  display: block;
}

.sidepanel #sidecontent {
  position: absolute;
  display: inline-block;
  width: var(--contentwidth);
}

.sidepanel #sidecontent img {
  max-width: var(--contentwidth);
  margin: auto;
  display: block;
}

.sidepanel #sidecontent div {
  position: absolute;
  width: var(--contentwidth);
  padding: 30px 30px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.sidepanel .closebtn {
  position: sticky;
  text-align: right;
  margin: -8px 5% -8px 85%;
  top: -8px;
  font-size: 44px;
  text-decoration: none;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  /*font-size: 25px;*/
  color: #ffffff;
  z-index: 1002;
}

@media screen and (max-width: 768px) {

  html,
  body,
  #map {
    --contentwidth: 100vw;
  }

  .sidepanel #sidecontent div {
    width: var(--contentwidth);
  }

  .sidepanel #sidecontent img {
    max-width: var(--contentwidth);
  }
}

.arrow-icon {
  position: relative;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
  /*transform: rotate(45deg); /* Adjust the angle as needed */
}

.arrow-icon::after {
  content: "";
  position: absolute;
  display: inline-block;
  transform: translateY(25%); /* Adjust for precise vertical centering */
  left: calc(50% - 2.5px);
  width: 5px;
  height: 25px;
  background-color:black;
}
