body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
  --contentwidth: 40vw; /* var = 40% of viewport width. */
}

.sidepanel {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1001; /*Places side over map*/
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(191, 201, 205);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  z-index: 1002;
}

.sidepanel #sidecontent {
  position: absolute;
  display: inline-block;
  width: var(--contentwidth);
}

.sidepanel #sidecontent img {
  max-width: var(--contentwidth);
  margin-left: auto;
  margin-right: auto;
}

.sidepanel #sidecontent div {
  position: absolute;
  width: var(--contentwidth);
  padding: 30px 30px;
  box-sizing: border-box;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* navigation bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #364e8b;
  /* position: relative; */
  /* z-index: 1002; */
}

.logo {
  color: white;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  transition: all 0.5s ease-in-out;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.nav-active {
  transform: translateX(0%) !important;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  html, body, #map {
    --contentwidth: 100vw;
  }

  .sidepanel #sidecontent div {
    width: var(--contentwidth);
  }

  .sidepanel #sidecontent img {
    max-width: var(--contentwidth);
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #364e8b;
    flex-direction: column;
    align-items: center;
    width: 35%;
    transform: translateX(100%);
    z-index: 1003;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}
