body {
	padding: 0;
	margin: 0;
}

html, body, #map {
  height: 100%;
  width: 100%;
  --contentwidth: 40vw; /* var = 40% of viewport width. */
}

.sidepanel {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1001; /*Places side over map*/
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(191, 201, 205);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  z-index: 1002; 
}

.sidepanel #sidecontent {
  position: absolute;
  display: inline-block;
  width: var(--contentwidth)
}

.sidepanel #sidecontent img {
  max-width: var(--contentwidth);
  margin-left: auto;
  margin-right: auto;
}

.sidepanel #sidecontent div {
  position: absolute;
  width: var(--contentwidth);
  padding: 30px 30px;
  box-sizing: border-box;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}